<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title class="adjustedCenter">
      {{category}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

    <!-- <ion-list [virtualScroll]="categoryDict[category]">
        <button ion-item *virtualItem="let book" no-padding (click)="goToVolume(book)" style="background-color:rgba(255, 255, 255, 0); width:100%;">      
          {{book.name}}
        </button>
    </ion-list> -->

    <!-- <ion-list>
      <ion-grid no-padding *ngFor="let category of categoryList; let i= index" style="padding:0px 4px">
        <ion-row>
          <ion-col no-padding style="padding:4px">   
            <div (click)="goToBookPage(categoryList[i].name)" class="center content-border-background">
                <span style="font-size:1.2em">{{categoryList[i].name}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list> -->

    <ion-list>
      <button ion-item *ngFor="let book of categoryDict[category]" no-padding (click)="goToVolume(book)" style="background-color:rgba(255, 255, 255, 0); width:100%;">      
        {{book.name}}
      </button>
    </ion-list>
  
</ion-content>
