.large-font{
    .MsoPlainText, .MsoPlainText span,a{
        font-size:$large-font-size !important;
    }

    p, p span,a{
        font-size:$large-font-size !important;
        line-height:$large-line-height !important;
        letter-spacing:$large-letter-spacing !important;
    }
}
