<ion-header #header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="showSettings($event)">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addBookmark()">
        <ion-icon name="bookmark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="adjustedCenter">{{volume.name}}</ion-title>
  </ion-navbar>  
</ion-header>

<ion-content padding [class]="selectedBackground">
  
  <ion-spinner *ngIf="isLoading" name="circles" style="width:30px;height:30px;stroke: #444;height:100%;display:block;margin-left:auto;margin-right:auto;"></ion-spinner>    
  
  <div *ngIf="!isLoading">

      <ion-grid>
        <ion-row>
          <ion-col style="text-align:left">
            <div *ngIf="previousVolume!=null">
              <button ion-button icon-start (click)="gotoPreviousVolume()">
                上一章
              </button>
              <br/>
              <label style="color:rgb(163, 163, 163)">{{previousVolume.name}}</label>
            </div>
          </ion-col>
          <ion-col style="text-align:right">
            <div *ngIf="nextVolume!=null">
              <button ion-button icon-end (click)="gotoNextVolume()">
                  <label>下一章</label>
              </button>
              <br/>
              <label style="color:rgb(163, 163, 163)">{{nextVolume.name}}</label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list class="{{selectedFontSize}}" (click)="scroll()">
        <div name="paragraphList" id="paragraphList">
          <div *ngFor="let paragraph of paragraphArray" [innerHtml]="paragraph|image|safe"></div>
        </div>
      </ion-list>  
      <div ion-item name="bottom" no-lines style="background: transparent"></div>

      <ion-grid>
          <ion-row>
            <ion-col style="text-align:left">
              <div *ngIf="previousVolume!=null">
                <button ion-button icon-start (click)="gotoPreviousVolume()">
                  上一章
                </button>
                <br/>
                <label style="color:rgb(163, 163, 163)">{{previousVolume.name}}</label>
              </div>
            </ion-col>
            <ion-col style="text-align:right">
              <div *ngIf="nextVolume!=null">
                <button ion-button icon-end (click)="gotoNextVolume()">
                    <label>下一章</label>
                </button>
                <br/>
                <label style="color:rgb(163, 163, 163)">{{nextVolume.name}}</label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
  </div>

</ion-content>

