<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentDeleteAllConfirm()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="one-button-adjustedCenter">书签</ion-title>
  </ion-navbar>  
</ion-header>

<ion-content no-padding>

  <p class="center" *ngIf="globalVars.bookmarks.length == 0">您没有添加书签</p>  
    
  <ion-list>
      <button ion-item no-padding *ngFor="let bookmark of globalVars.bookmarks | orderBy:'date':false" class="gukeLarge" (click)="gotoArticle(bookmark)">      
        <table style="width:100%">
          <tr>
            <td style="padding-left:5px">{{bookmark.bookMarkName}}</td>
            <td class="global-right" style="padding-right:10px;width:30px;">
              {{bookmark.percentage}}%
            </td>
          </tr>
          <tr>
              <td colspan="2" style="padding-left:5px;font-size:0.6em;color:lightgray">{{bookmark.date|date:'MM/dd/yyyy hh:mm:ss'}}</td>
          </tr>
        </table>        
      </button>
    </ion-list>
</ion-content>
