.none{
    background-image: url(./../assets/images/bg/none.png);
    background-repeat: repeat;
}

.paper{
    background-image: url(./../assets/images/bg/paper.png);
    background-repeat: repeat;
}

.grey{
    background-image: url(./../assets/images/bg/grey.png);
    background-repeat: repeat;
}

.wood{
    background-image: url(./../assets/images/bg/wood.png);
    background-repeat: repeat;
}